<div class="navbar">
  <div class="nav_logo"></div>
  <ul class="nav_links">
    <li>
      <div class="search-bar">
        <%= form_with url: root_path, method: :get, html: { class: 'search-form' } do |f| %>
          <%= f.text_field :name,
                      input_html: {value: "", class: "search-input"},
                      label: false,
                      placeholder: "Search items" %>   
          <%= f.submit "", class: "search-submit" %>
        <% end %>
      </div>
    </li>
    <li class="nav-link">
      Account
      <%# <%= link_to "Account", user_path(current_user), class: "nav-link" %>
    </li>
    <li class="dropdown-item">
      Log out
      <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
</div>
